body {
  font-family: sans-serif;
  background-color: #303030;
}

img {
  width: 40px;
  padding: 2px;
  display: block;
  text-align: left;
}

* {
  color: white;
  font-size: 1.1rem;
}

#block1 {
  display: inline-block;
}

.stat {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
}

.stat img {
  width: 50px;
}

.label {
  margin-right: 20px;
  width: 100px;
  text-align: left;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 4px;
}

.level {
  min-width: 20px;
  text-align: center;
}

button {
  background-color: blueviolet;
  color: white;
  margin: 5px;
  width: 30px;
  font-size: 5px;
  cursor: pointer;
  border-color: rgb(34, 34, 34);
  border-style: solid;
}

h1 {
  padding: 0.1rem;
}

span {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
